<section id="governance" class="success">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Governance</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p style="text-align: center;color:#000;">The purpose of governance model is to provide a clear decision-making structure, resolve conflicts, define roles and responsibilities, and ensure consistency and stability. These model facilitates community engagement, manage legal and financial aspects, and contribute to the sustainability of the project. By promoting transparency and trust, governance model is crucial in handling the diverse and dynamic nature of open source collaborations, ensuring their long-term success and maintaining the commitment of contributors and users. </p>
          <p style="text-align: center;color:#000;">Open Data Products has simple documented Governance model. </p>
          <h3 style="text-align: center;color:#000;"><a style="color:#ff6600;" href="https://github.com/Open-Data-Product-Initiative/.github/blob/cc65e32f791d4fd51d5f58d15cc5ed85eb38efd0/profile/Technical-Charter-5-14-2024.pdf.pdf">Explore the Technical Charter</a></h3>
        </div>
      </div>
    </div>
  </section>