<!-- About Section -->
<section class="success" id="about" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="margin-bottom:30px;">Versions and resources</h2>
        <hr class="star-primary">
      </div>
    </div>
     <div class="row">
      <div style="padding-left: 20px;padding-right: 20px;">

        <h3>Open Data Product Specification 3.0</h3>
        <p><b>Release date:</b> 22nd May 2024</p>
        <p><b>Description:</b> Production Version 3.0.</p> 
        <p><b>Specification:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/v3.0">See the full specification.</a></p> 
        <p><b>YAML Schema:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/v3.0/schema/odps.yaml">YAML Schema.</a></p>  
        <p><b>Source:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v3.0">See the source files.</a></p> 
        <p><b>Issues:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v3.0/issues">See the issues.</a></p> 
        <hr/>

        <h3>Open Data Product Specification - Development version </h3>
        <p><b>Release date:</b> ...never...</p>
        <p><b>Description:</b> Development version (dev) is for the development which aims for the next released version. Add your needs to this version, unless it's a bug in previous versions. In those cases, use issue lists of the version.</p> 
        <p><b>Specification:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/dev">See the full specification, development version.</a></p> 
        <p><b>Source:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/dev">See the source files.</a></p> 
        <p><b>Issues:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/dev/issues">See the issues.</a></p> 
        <hr/>

        <h3>Open Data Product Specification 2.1</h3>
        <p><b>Release date:</b> 22nd Aug 2023</p>
        <p><b>Description:</b> Production Version 2.1</p> 
        <p><b>Specification:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/v2.1/">See the full specification.</a></p> 
        <p><b>Data Product Examples and JSON Schema:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/odps-examples">Some examples created with ODPS and JSON Schema.</a></p> 
        <p><b>Source:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v2.1">See the source files.</a></p> 
        <p><b>Issues:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v2.1/issues/">See the issues.</a></p> 
        <hr/>

        <h3>Open Data Product Specification 2.0</h3>
        <p><b>Release date:</b> 1st April 2023</p>
        <p><b>Description:</b> Production Version 2.0</p> 
        <p><b>Specification:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/v2.0/">See the full specification.</a></p> 
        <p><b>Source:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v2.0">See the source files.</a></p> 
        <p><b>Issues:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v2.0/issues/">See the issues.</a></p> 
        <hr/>

        <h3>Open Data Product Specification 1.0</h3>
        <p><b>Release date:</b> 1st Feb 2022</p>
        <p><b>Description:</b> This is the MVP production version.</p>
        <p><b>Specification:</b> <a style="color: #{{ site.color.links-primary }};" href="https://opendataproducts.org/v1.0">See the full specification.</a></p> 
        <p><b>Source:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v1.0">See the source files.</a></p> 
        <p><b>Issues:</b> <a style="color: #{{ site.color.links-primary }};" href="https://github.com/Open-Data-Product-Initiative/v1.0/issues">See the issues.</a></p> 
      </div>
    </div>
  </div>
</section>
