<!-- Header -->
<header  style="background-color: #4d4d4d;background-image:url('img/bg.jpg'); background-repeat: no-repeat; background-size: cover;padding-bottom:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" style="margin-bottom:40px;" />
        <div class="intro-text">
          <span class="name" style="color:#fff;text-shadow: 3px 1px 9px rgba(190, 190, 190, 0.34);">{{ site.sub }}</span>
          <!-- 
          <span class="skills" style="font-size:2em;color:#fff;margin-top:30px;">{{ site.skills }}</span><br/>-->
          <span class="skills" style="font-size:2em;color:#fff;padding-top:40px;text-decoration: underline;"><a href="https://blog.opendataproducts.org">Notifications, news and updates</a></span><br/>
          

        </div>
      </div>
    </div>
    <div style="margin-top: 60px;">
      <span class="name" style="font-size:1.5em; color:#fff;text-shadow: 3px 1px 9px rgba(190, 190, 190, 0.34);">
        Linux Foundation project since May 14th 2024
      </span>
      <p style="margin-top: 30px;"><a href="https://www.linuxfoundation.org"><img alt="Linux Foundation" style="width:300px;" src="img/lf-stacked-color.png"/></a></p>
    </div>
    <div style="padding-bottom:10px;"></div>
</header>
